body {
    margin: 13px auto;
    padding: 13px;
    text-align: left;
    background: gray;    
}
.page {
    width: 800px;
    height: auto;
    padding: 10px;
    border: solid 1px whitesmoke;
    background-color: whitesmoke;
    margin: auto;
    box-shadow: 5px 10px;
}

.material-icons {
    position: relative;
    top: 3px;
    bottom: 3px;
}

.bar {
    height: 30px;
    width: auto;
    background-color: #507DBC;
  }

h1 {
    font-size: 35px;
    font-family: "Helbetica", sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px#BBD1EA;
}

h2 {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center; 
    text-indent: 5px;
    border-bottom: 6px solid #507DBC;
    background-color: #BBD1EA;
    padding: 1px;
    margin: 1px;
}

.column {
    float: left;
    width: 50%;
    height: auto;
}

.column--left {
    width: 32%;
}

.column--right {
    width: 68%;
}

.bar:after {
    content: "";
    display: table;
    clear: both;
}

.portrait {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2.5px 5px #DAE3E5;
}

.name {
    font-size: 20px;
    font-family: "Helbetica", sans-serif;
    text-align: center;
    line-height: 0.1;
    font-weight: bold;
    letter-spacing: -2px;
    text-shadow: 2px 2px#BBD1EA;
}

.job {
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 0.01;
}

.about-me p{
    list-style: none;
    text-align: justify;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px;
}

.personal-data li {
    list-style: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.icon-data {
    margin-right: 5px;
}

.icon-data__item {
    font-size: 20px;
    display: inline-block;
    margin-right: .5rem;
    position: relative;
    top: 3px;
    bottom: 3px;
}

.icon-data__item-name {
    display: inline-block;
    width: 10px;
    text-align: center;
}

.score-data {
    margin-right: 50px;
}

.lang {
    display: inline-block;
    width: 70px;
    text-align: left;
}

.languages li {
    list-style: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

i.score {
    font-size: 15px;
}

.studies li{
    list-style: none;
    text-align: left;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
    margin-right: 10px;
}

.studies li a {
    font-weight: bold;
}

.studies__item img {
    width: 60px;
    height: 30px;
    display: block;
    margin-left: 2%;
    box-shadow: 2px 2px #BBD1EA;
}

.studies__item {
    display: block;
    text-align: left;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 1.5%;
}

.vida-laboral {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: start; 
    text-indent: 5px;
    border-bottom: 6px solid #507DBC;
    background-color: #BBD1EA;
    padding: 1px;
    margin: 1px;
}

section {
    border: 1px solid #DAE3E5;
    padding: 5px;
    margin: 10px;
    background: #DAE3E5;
}

footer {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

li {
    font-family: "Helbetica", sans-serif;
}

p {
    font-family: "Helbetica", sans-serif;
}

#vidalaboral li{
    list-style: none;
    text-align: left;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
    margin-right: 1px;
}

hr.solid {
    border-top: 1px solid #507DBC;
    margin-right: 10px;
}

.redacciones {
    column-count: 2;
    column-gap: 1px;
}

#vidalaboral li a {
    font-weight: bold;
}