@mixin grid-item($colfrom, $colto, $rowfrom, $rowto)
  grid-column: #{$colfrom} / #{$colto}
  grid-row: #{$rowfrom} / #{$rowto}

@mixin mozaic-size($wid, $hei, $marg, $dis, $gridgap)
  width: #{$wid} 
  height: #{$hei}
  margin: #{$marg}
  display: #{$dis}
  grid-gap: #{$gridgap}

@mixin grid-template($coltemp, $colnum, $colwid, $rowtemp, $rownum, $rowwid)
  grid-template-columns: #{$coltemp}( ( #{$colnum}, #{$colwid}) )
  grid-template-rows: #{$rowtemp}( ( #{$rownum}, #{$rowwid}) )

@mixin image($wid, $hei, $objfit)
  width: #{$wid}
  height: #{$hei}
  object-fit: #{$objfit}

.mozaic
  @include mozaic-size(60vw , auto , auto , grid , 1vw )
  @include grid-template(repeat, 1, 40vw, repeat, 9, 20vw)

  @media (min-width: 768px)
    &
      @include grid-template(repeat, 3, 20vw, repeat, 6, 25vw)

  @media (min-width: 992px)
    &
      @include grid-template(repeat, 3, 20vw, repeat, 6, 20vw)

  &__area-1
    @include grid-item(1, 3, 1, 1)

    @media (min-width: 768px)
      &
        @include grid-item(1, 1, 1, 3)

    @media (min-width: 992px)
      &
        @include grid-item(1, 1, 1, 3)

  &__area-2
    @include grid-item(1, 3, 2, 2)

    @media (min-width: 768px)
      &
        @include grid-item(2, 4, 1, 1)

    @media (min-width: 992px)
      &
        @include grid-item(2, 4, 1, 1)

  &__area-3
    @include grid-item(1, 3, 3, 3)

    @media (min-width: 768px)
      &
        @include grid-item(2, 4, 2, 2)

    @media (min-width: 992px)
      &
        @include grid-item(2, 4, 2, 2)

  &__area-4
    @include grid-item(1, 3, 4, 4)

    @media (min-width: 768px)
      &
        @include grid-item(1, 3, 3, 3)

    @media (min-width: 992px)
      &
        @include grid-item(1, 3, 3, 3)

  &__area-5
    @include grid-item(1, 3, 5, 5)

    @media (min-width: 768px)
      &
        @include grid-item(3, 3, 3, 5)

    @media (min-width: 992px)
      &
        @include grid-item(3, 3, 3, 5)

  &__area-6
    @include grid-item(1, 3, 6, 6)

    @media (min-width: 768px)
      &
        @include grid-item(1, 3, 4, 4)

    @media (min-width: 992px)
      &
        @include grid-item(1, 3, 4, 4)

  &__area-7
    @include grid-item(1, 3, 7, 7)

    @media (min-width: 768px)
      &
        @include grid-item(1, 1, 5, 7)

    @media (min-width: 992px)
      &
        @include grid-item(1, 1, 5, 7)

  &__area-8
    @include grid-item(1, 3, 8, 8)

    @media (min-width: 768px)
      &
        @include grid-item(2, 4, 5, 5)

    @media (min-width: 992px)
      &
        @include grid-item(2, 4, 5, 5)

  &__area-9
    @include grid-item(1, 3, 9, 9)

    @media (min-width: 768px)
      &
        @include grid-item(2, 4, 6, 6)

    @media (min-width: 992px)
      &
        @include grid-item(2, 4, 6, 6)

  &__image
    @include image(100% , 100% , cover )

.mozaic-2
  @include mozaic-size(60vw , auto , auto , grid , 1vw )
  @include grid-template(repeat, 1, 40vw, repeat, 6, 20vw)

  @media (min-width: 768px)
    &
      @include grid-template(repeat, 3, 20vw, repeat, 4, 25vw)

  @media (min-width: 992px)
    &
      @include grid-template(repeat, 3, 20vw, repeat, 4, 20vw)

  &__area-1
    @include grid-item(1, 3, 1, 1)

    @media (min-width: 768px)
      &
        @include grid-item(1, 1, 1, 3)

    @media (min-width: 992px)
      &
        @include grid-item(1, 1, 1, 3)

  &__area-2
    @include grid-item(1, 3, 2, 2)

    @media (min-width: 768px)
      &
        @include grid-item(2, 4, 1, 1)

    @media (min-width: 992px)
      &
        @include grid-item(2, 4, 1, 1)

  &__area-3
    @include grid-item(1, 3, 3, 3)

    @media (min-width: 768px)
      &
        @include grid-item(2, 4, 2, 2)

    @media (min-width: 992px)
      &
        @include grid-item(2, 4, 2, 2)

  &__area-4
    @include grid-item(1, 3, 4, 4)

    @media (min-width: 768px)
      &
        @include grid-item(1, 3, 3, 3)

    @media (min-width: 992px)
      &
        @include grid-item(1, 3, 3, 3)

  &__area-5
    @include grid-item(1, 3, 5, 5)

    @media (min-width: 768px)
      &
        @include grid-item(3, 3, 3, 5)

    @media (min-width: 992px)
      &
          @include grid-item(3, 3, 3, 5)

  &__area-6
    @include grid-item(1, 3, 6, 6)

    @media (min-width: 768px)
      &
        @include grid-item(1, 3, 4, 4)

    @media (min-width: 992px)
      &
        @include grid-item(1, 3, 4, 4)

  &__image
    @include image(100% , 100% , cover )

.mozaic-3
  @include mozaic-size(60vw , auto , auto , grid , 1vw )
  @include grid-template(repeat, 1, 40vw, repeat, 3, 20vw)

  @media (min-width: 768px)
    &
      @include grid-template(repeat, 3, 20vw, repeat, 2, 25vw)

  @media (min-width: 992px)
    &
      @include grid-template(repeat, 3, 20vw, repeat, 2, 20vw)

  &__area-1
    @include grid-item(1, 3, 1, 1)

    @media (min-width: 768px)
      &
        @include grid-item(1, 1, 1, 3)

    @media (min-width: 992px)
      &
        @include grid-item(1, 1, 1, 3)

  &__area-2
    @include grid-item(1, 3, 2, 2)

    @media (min-width: 768px)
      &
        @include grid-item(2, 4, 1, 1)

    @media (min-width: 992px)
      &
        @include grid-item(2, 4, 1, 1)

  &__area-3
    @include grid-item(1, 3, 3, 3)

    @media (min-width: 768px)
      &
        @include grid-item(2, 4, 2, 2)

    @media (min-width: 992px)
      &
        @include grid-item(2, 4, 2, 2)

  &__image
    @include image(100% , 100% , cover )