.layout {
  width: 60vw;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(6, 20vw);
  grid-gap: 1vw;
}

@media only screen and (min-width: 768px) {
  .layout {
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(6, 20vw);
    grid-gap: 1vw;
  }
}

@media only screen and (min-width: 992px) {
  .layout {
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(6, 20vw);
    grid-gap: 1vw;
  }
}

.layout__one {
  grid-column: 1;
  grid-row: 1 / 3;
}

.layout__two {
  grid-column: 2 / 4;
  grid-row: 1;
}

.layout__three {
  grid-column: 2 / 4;
  grid-row: 2;
}

.layout__four {
  grid-column: 1 / 3;
  grid-row: 3;
}

.layout__five {
  grid-column: 3;
  grid-row: 3 / 5;
}

.layout__six {
  grid-column: 1 / 3;
  grid-row: 4;
}

.layout__seven {
  grid-column: 1;
  grid-row: 5 / 7;
}

.layout__eight {
  grid-column: 2 / 4;
  grid-row: 5;
}

.layout__nine {
  grid-column: 2 / 4;
  grid-row: 6;
}

.gokuvertical {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gokuhorizontal {
  width: 100%;
  height: 100%;
  object-fit: cover;
}