body {
    margin: auto;
    background: lightskyblue;
}

.scene {
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 27.5vw 45vw 27.5vw;
    grid-template-rows: 95vw 5vw;
}

@media only screen and (min-width: 768px) {
    .scene {
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 95vw 5vw;
    }
}

@media only screen and (min-width: 992px) {
    .scene {
        grid-template-columns: 5vw 90vw 5vw;
        grid-template-rows: 95vw 5vw;
    }
}

.building {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-right: solid 1rem gray;
    border-top: solid 1rem gray;
    border-left: solid 1rem gray;
    background-color: lightgray;
    min-width: 100px;
}

.scene__ground {
    background-color: green;
}

.building__window {
    width: 4vw;
    height: 4vw;
    border-top: solid 0.3rem darkblue;
    border-right: solid 0.3rem darkblue;
    background-color: darkcyan;
    margin-top: 0.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

@media only screen and (min-width: 768px) {
    .building__window {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

@media only screen and (min-width: 992px) {
    .building__window {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

.building__invisible {
    width: 4vw;
    height: 4vw;
    margin-top: 0.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
}

.building__door {
    background-color: brown;
    border-top: solid 0.1rem chocolate;
    border-right: solid 0.1rem chocolate;
    align-self: center;
    width: 4vw;
    height: 8vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: -1vw;
}  